<li>
  <a href="{% url 'application_create' 'aerospace-outreach' %}">
    Aerospace Outreach
  </a>
</li>
<li>
  <a href="{% url 'application_create' 'early-stage-investigator' %}">
    Early-Stage Investigator
  </a>
</li>
<li>
  <a href="{% url 'application_create' 'higher-education-initiatives' %}">
    Higher Education Incentives
  </a>
</li>
<li>
  <a href="{% url 'application_create' 'other-program' %}">
    Other Program Proposals
  </a>
</li>
<li>
  <a href="{% url 'application_create' 'nasa-competition' %}">
    National Competitions and Programs
  </a>
</li>
<li>
  <a href="{% url 'application_create' 'research-infrastructure' %}">
    Research Infrastructure
  </a>
</li>
<li>
  <a href="{% url 'application_create' 'rocket-launch-team' %}">
    Rocket Launch Team (Create NOI)
  </a>
</li>
