<li>
  <a href="{% url 'application_create' 'collegiate-rocket-competition' %}">
    Collegiate Rocket Launch Competition
  </a>
</li>
<li>
  <a href="{% url 'application_create' 'clark-graduate-fellowship' %}">
    Dr. Laurel Salton Clark Memorial Research<br>
    <span style="margin-left:20px;">Fellowship</span>
  </a>
</li>
<li>
  <a href="{% url 'application_create' 'professional-program-student' %}">
    Student Participant in Internship, Faculty, or Outreach Program
  </a>
</li>
<li>
  <a href="{% url 'application_create' 'graduate-fellowship' %}">
    WSGC Graduate &amp; Professional Research<br>
    <span style="margin-left:20px;">Fellowship</span>
  </a>
</li>
